body {
  background-color: rgb(223, 202, 243);
}

header, footer {
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  height: 100px;
  background-color: #8b2e3f4d;
}

h1 {
  font-size: 3em;
  text-align: left;
  line-height: 100px;
  padding-left: 30px;
  font-weight: bolder;
  height: 100px;
}

main {
  overflow: hidden;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  min-height: 470px;
  background-color: #f5d6db;
}

div {
  overflow: hidden;
  float: left;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box;
}

.resultContainer {
  width: 240px;
}

#voteResults {
  color: #5afb00;
  width: 220px;
  margin-left: 10px;
  margin-top: 10px;
}

#voteResults th {
  color: #fb0000;
  width: 220px;
  margin-left: 10px;  
}

#voteResults td {
  border: #923a3a solid 1px;
  padding: 2px;
}

.productContainer {
  width: 960px;
}

#tallyChart {
  display: none;
}

.productContainer li {
  width: 320px;
  height: 300px;
  float: left;
  text-align: center;
  padding-top: 10px;
}

.productContainer p {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 300px;
  height: 240px;
}

footer h1 {
  text-align: center;
}




